.DS_Store
TODO.txt
quantification/*
related_work/*
manuscript/*

# don't track large items 
analysis/.Rproj.user
analysis/.Rprofile
analysis/accessory_data/*
analysis/rough_draft/*
analysis/results/*
!analysis/results/v18/figure_plots/
analysis/notes/*
.Rproj.user
